html, body {
    font-family: 'Kufam', cursive;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 10;
}
body {
    background: darkgray;
}
canvas {
    border: 1px solid white;
}
h1 {
    text-align: center;
    color: #444;
}
.demo-link {
    font-size: 24px;
}

.center-box {
    width: 80%;
    height: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
    background-color: #999999;
    border-radius: 15px;
}
